html, body  {
  background-color: #020f1b;
  margin: 0;
  height: 100%;
}

.shadow {
    display:block;
    position:relative;
    margin: auto;
    width: 1200px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
}
.shadow:before
{
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  -webkit-box-shadow: inset 0px -3px 155px 66px rgba(2,15,27,1);
  -moz-box-shadow: inset 0px -3px 155px 66px rgba(2,15,27,1);
  box-shadow: inset 0px -3px 155px 66px rgba(2,15,27,1);
}

#page_container {
  margin: auto;
  width: 90%;
  padding: 10px;
  background-color: white;
  display: block;
  overflow: auto;
}

#container {
  float: left;
  width: %70;
  overflow: hidden;
}

#right_bar {
  width: 20%;
  float: right;
  height: 100%;
  position: relative;

}

svg text,fieldset{
    -webkit-user-select: none;
	 -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection,fieldset::selection {
    background: none;
}

div.left {
    width: 70%;
    float: center;
	clear:left;
}


.graph_container {
	margin-left: 40px;
	margin-bottom:10px;
	margin-top:20px;
  margin-right: 30px;
}

div.container {
  background-color: #f8fbfc;
  margin-left: 10px;
}

#periodSelector {
	width: 280px;
    height: auto;
    padding: 10px;
	overflow: hidden;
	float:left;
}

.period {
	float: left;
    background-color: white; /* Grey background color */
    padding: 9px; /* Add some padding */
	margin: 1px;
	border: 1px solid #ddd; /* Add a grey border */
	box-sizing:border-box;
    color: black; /* Add a black text color */
	display:block;
	width:auto;
}

.period:hover {
	background-color: #eee;
}

#cryptoSelecter {
	width:100%;
	box-sizing:border-box;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#cryptoResult,#cryptoSelected {
	border-top: 1px solid #ddd;
	overflow: auto;
	max-height:250px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 12px 0;
}

#cryptoSelected li,#cryptoResult li {
	border: 1px solid #ddd;
    margin-top: -2px;
    margin-bottom: 0px;
    padding: 12px 12px 12px 40px;
    text-decoration: none;
    font-size: 18px;
    color: black;
	display:block;
}

#cryptoSelected li {
    opacity: 1;
}

#cryptoSelected li:hover {
    opacity: 0.8;
}

#cryptoResult li {
    opacity: 1;
}

#cryptoResult li:hover {
    opacity: 0.7;
}

#graph,#volumes {
	margin-bottom:10px;
	margin-top:10px;
}

.footer {
  height: 80px;
}
